@page
@model WebApplication1.Pages.Sys.Adm.AdminModel
@{
    ViewData["Title"] = "Админ. панель";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}

<h3 style="color:burlywood; margin-top: 20px;">
	Система приветствует Вас, @HttpContext.Session.GetString("firstname")!
	<br />
</h3>

<div class="view">
	<aside class="sidebar1" style="width:300px">
		<nav style="margin-top: 10px;">
			<ul class="sidebar-list">
				<li><a asp-area="" asp-page="/Sys/Adm/Log">Просмотр логов</a></li>
				<li><a asp-area="" asp-page="/Sys/Test">Тестовая страница</a></li>
			</ul>
		</nav>
	</aside>

	<main>
		<br />
		<h4>Это страница администратора. Здесь будет собрана вся необходимая информация
			и инструменты, для его плодотворного труда!</h4>
	</main>
</div>