@page
@model WebApplication1.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Вход";
}

<h3 style="text-align:center; margin-top:50px;">Введите адрес электронной почты, который зарегистрирован в системе!</h3>
<h2 style="color:red">@Model.Message</h2>

<form id="login" class="login" method="post">
    <fieldset class="fieldset">
        <pre><span class="required"><b>E-mail</b></span>  <input type="email" placeholder="user@gmail.com" name="email" pattern="^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" autofocus required><br>
         <input type="submit" value=" Отправить письмо "></pre>
    </fieldset>
</form>