@page
@model WebApplication1.Pages.HelpModel
@{
    ViewData["Title"] = "Помощь";
}

<ul style="margin-top:30px; margin-bottom:30px;">
    <li>👉 <a id="1" href="#">Регистрация</a></li>
    <li>👉 <a href="#2">Забыли пароль</a></li>
</ul>

<h3 style="margin-bottom:20px;">Регистрация</h3>
<section>
    <div class="divspace">
        <p><strong>1.</strong> Выберите в меню пункт "Вход/Регистрация".</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help1.png">
            <img class="help-img" src="~/img/help/help2.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>2.</strong> Перейдите по ссылке "Еще не зарегистрированы?".</p>
        <img class="help-img" src="~/img/help/help3.png" />
    </div>
    <div class="divspace">
        <p>
            <strong>3.</strong> Введите Ваши данные, а именно: адрес вашей эл. почты, придумайте пароль для входа в систему. Также введите имя, фамилию, дату и время рождения.
            Если Вы находитесь сейчас там, где родились - можно жать на кнопку "Сохранить". 
            Если же Вы родились далеко, в другом месте - отметьте галочкой "Час. пояс", выберите его в выпадающем меню (рядом), и выберите "летнее" или "зимнее"
            время. Теперь также можно жать на кнопку "Сохранить".
        </p>
        <img class="help-img" src="~/img/help/help4.png" />
    </div>
    <div class="divspace">
        <p><strong>4.</strong> Далее Вам на указанный адрес эл. почты прийдет письмо с кодом подтверждения регистрации, и вы увидите следующий экран.</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help5.png">
            <img class="help-img" src="~/img/help/help6.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>5.</strong> Зайдите в свою эл. почту, и вы увидите в нем подобное письмо с кодом подтверждения.</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help7.png">
            <img class="help-img" src="~/img/help/help8.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>6.</strong> Теперь вернитесь назад, введите код подтверждения из эл. письма, и нажмите кнопку "Отправить".</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help9.png">
            <img class="help-img" src="~/img/help/help10.png" />
        </picture>
    </div>
    <div class="divspace">
        <p>
            <strong>7.</strong> Поздравляю, Вы успешно зарегистрировались и вошли в систему! 👍 После этого, ❗дайте разрешение на доступ к Вашим геоданным, чтобы могли работать
            Славянские солнечные часы. 😎
        </p>
    </div>
</section>

<p>👉 <a href="#1">Вернуться к началу</a></p>
<br /><br />

<h3 id="2" style="margin-bottom:20px;">Забыли пароль</h3>
<section>
    <div class="divspace">
        <p><strong>1.</strong> Выберите в меню пункт "Вход/Регистрация".</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help1.png">
            <img class="help-img" src="~/img/help/help2.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>2.</strong> Перейдите по ссылке "Забыли пароль?".</p>
        <img class="help-img" src="~/img/help/help11.png" />
    </div>
    <div class="divspace">
        <p><strong>3.</strong> Введите адрес эл. почты, под которым вы регистрировались в системе, и нажмите кнопку "Отправить письмо".</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help12.png">
            <img class="help-img" src="~/img/help/help13.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>4.</strong> Далее Вам на указанный адрес эл. почты прийдет письмо с кодом подтверждения, и вы увидите следующий экран.</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help5.png">
            <img class="help-img" src="~/img/help/help6.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>5.</strong> Зайдите в свою эл. почту, и вы увидите в нем подобное письмо с кодом подтверждения.</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help7.png">
            <img class="help-img" src="~/img/help/help8.png" />
        </picture>
    </div>
    <div class="divspace">
        <p><strong>6.</strong> Теперь вернитесь назад, введите код подтверждения из эл. письма, и нажмите кнопку "Отправить".</p>
        <picture>
            <source media="(min-width: 768px)" srcset="~/img/help/help9.png">
            <img class="help-img" src="~/img/help/help10.png" />
        </picture>
    </div>
    <div class="divspace">
        <p>
            <strong>7.</strong> Поздравляю, Вы успешно вошли в систему! 👍 После этого, ❗Вам нужно выбрать пункт меню "Редактировать профиль",
            придумать новый пароль, ввести Ваши данные как при регистрации (можно поменять все что нужно), и сохранить изменения. 😎
        </p>
    </div>
</section>

<p>👉 <a href="#1">Вернуться к началу</a></p>
<br /><br />