@page
@model IndexModel
@{
    ViewData["Title"] = "Ведическая Мудрость Предков";
}

<div class="view">
    <aside class="sidebar1">
	    <div id="universe">
            <img id="picrot" class="universe" src="img/galaxy.png" alt="Universe">
        </div>

        <h5 style="text-align:center;"><u><b>Интересные YouTube каналы</b></u></h5>
        <nav>
            <ul class="sidebar-list">
                <li><a href="https://www.youtube.com/@@wed-mudr">Ведическая Мудрость Предков</a></li>
                <li><a href="https://www.youtube.com/@@user-xx3fx3fn5k">Асгардское Духовное Училище</a></li>
                <li><a href="https://www.youtube.com/@@kolovrattv7944">Коловрат ТВ</a></li>
                <li><a href="https://www.youtube.com/@@OYKMIR">Обрядовый Учебный Клуб МИР</a></li>

            </ul>
        </nav>

        <h5 style="text-align:center;"><u><b>Интересные сайты</b></u></h5>
        <nav>
            <ul class="sidebar-list">
                <li><a href="http://kolovrat.tv">Коловрат ТВ</a></li>
                <li><a href="https://derzhavarus.ru">Дѣржава РȢсь</a></li>
                <li><a href="http://www.ra-s-ved.ru">Ра-съ-Вѣдъ</a></li>

            </ul>
        </nav>
    </aside>

    <section class="content">
        <h5 style="text-align:right;"><i>«На Истину могутъ претендовать только Вышние Боги.<br />А мы съ Вами только учимся...»</i></h5>
        <br />
        <article>
            <p class="red_line">
                Здравия, друзья! 👋 Радъ Васъ приветствовать на Нашемъ сайте, информационно-образовательномъ портале Родовой Мудрости Нашихъ Предковъ.
                Надеюсь, что Вамъ здесь будетъ интересно и Вы найдете многое, что сложно найти на другихъ сайтахъ.
            </p>
            <p class="red_line">
                Система сейчасъ находится въ стадии разработки. Темъ не менее, тут уже есть много интересного! А именно, это <strong>
                Программы-калькуляторы Образовъ Чиселъ и Словъ</strong> РȢського и Українського Ѧзыковъ. Они продолжаютъ дополняться
                новыми Образами. Такъ же продолжается работа надъ <strong>Нумерологическими расчетами</strong> и <strong>
                    Звездочтениемъ
                </strong> (Астрологические расчеты). Такъ же имеется информация по <strong>глубиннымъ Образамъ БȢкъвицы</strong> и
                <strong>х'Арийской Каруны</strong>.
            </p>
            <p class="red_line">
                Для того, чтобы появился доступъ ко всемъ ресурсамъ и материаламъ сайта - нужно пройти небольшую
                <a asp-area="" asp-page="/Register">Регистрацию</a> (подробные инструкции можно найти въ пункте меню 
                <a asp-area="" asp-page="/Help">Помощь</a>). Такъ же, при первомъ входе въ систему после регистрации -❗рекомендуется предоставить
                доступъ къ Вашимъ геоданнымъ, чтобы могли работать <strong>Славянские солнечные часы</strong>.
            </p>
            <p class="red_line">
                Есть еще много задумокъ, которые очень хочется реализовать. А когда это случится - зависитъ отъ Насъ, и отъ ситуации въ Мире,
                который мы вместе строимъ, и въ которомъ вместе живемъ...
            </p>
            <p class="red_line">
                Надъ созданиемъ сайта трудится человекъ со слабымъ зрениемъ.🧑‍🦯Такъ что если есть какие-то недоработки по дизайну и оформлению -
                не судите строго. Готовъ выслушать советы и рекомендации - будемъ доделывать и совершенствовать!
            </p>
            <p class="red_line">
                Пробуйте, тестируйте, пользуйтесь, учитесь. Пишите отзывы, пожелания и предложения. Для обратной связи - на сайте имеется страница
                <a asp-area="" asp-page="/Contacts">Контакты</a>.
            </p>
            <p class="red_line">
                Быть Добру!😎
            </p>
        </article>
    </section>

    <aside class="sidebar2">
        <div id="universe">
            <img class="advertisement" src="img/advertisement.jfif" alt="Advertisement">
        </div>
    </aside>
</div>

<script src="~/js/index_picrot.js"></script>