@page
@model WebApplication1.Pages.Sys.ProfileEditSuccessModel
@{
    ViewData["Title"] = "Редактирование профиля";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}

<br />
<h3 style="color:gold">@Model.Message</h3>