@page
@model WebApplication1.Pages.Sys.TestModel
@{
    ViewData["Title"] = "Тестовая страница";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}

<h4>
    Birthday: @Model.Birthday
	<br />
	DateTime now: @Model.DatetimeNow
</h4>
